---
layout: default
---

<div>

  <header style="text-align: center;">
    <h1>Welcome to my gamedev corner!</h1>
  </header>

  <section style="text-align: center;">
    This Github Pages site is where I'll attempt to blog anything gamedev-related: Analysis, stuff I'm working on... etc.
  </section>

  <br><br>

  {%- if site.posts.size > 0 -%}
    <p class="h4">{{ page.list_title | default: "Posts" }}</p>
    <ul class="list-unstyled">
      {%- for post in site.posts -%}
      <li>
        <span class="text-muted">
          {%- assign date_format = "%b %-d, %Y" -%}
          {{ post.date | date: date_format }}
          • in {{post.categories[0] | capitalize | escape}}
        </span>
        <p class="h5">
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </p>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      <br>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>